<%- include("header") %>
<section id="contact_us">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="con_top clearfix">
					<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114964.53925916665!2d-80.29949920266738!3d25.782390733064336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2sMiami%2C+FL%2C+USA!5e0!3m2!1sen!2sin!4v1530774403788" style="width:100%; height:400px; border:0" allowfullscreen=""> -->
					</iframe>
				</div>
			</div>
			<div class="col-sm-12 aniview" data-av-animation="slideInDown">
				<div class="contact_us_top text-center">
					<h2> Follow Us</h2>
					<div class="col-md-12 contact_icon">
						<ul class="social-network social-circle">
							<li><a href="#" class="icoRss" title="Rss"><i class="fa fa-instagram"></i></a></li>
							<li><a href="https://www.facebook.com/pages/category/Travel-Company/Garud-Travels-111459240223947/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
							<!-- <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a> -->
							</li>

						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm-12 aniview" data-av-animation="slideInLeft">

				<div class="col-sm-4">
					<div class="contact_us_1 text-center">
						<p><a href="#"><i class="fa fa-phone"></i></a></p>
						<h4>Contact Us Here</h4>
						<h5>+91-810 410 9602<br>+91-996 727 9859<br>+91-804 633 3629</h5>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="contact_us_1 text-center">
						<p><a href="#"><i class="fa fa-map-marker"></i></a></p>
						<h4>Find Us</h4>
						<h5> Varsha Tower, Garud Travels Shop No.3, Sai Siddhi, Station Rd, Sheetal Nagar, Mira Road, Maharashtra 401107</h5>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="contact_us_1 text-center">
						<p><a href="#"><i class="fa fa-envelope"></i></a></p>
						<h4>Subscribe Here</h4>
						<h5>E-mail : garudtravels2012@gmail.com / info@garudtravels.in</h5>
					</div>
				</div>
			</div>
			<div class="col-sm-12 form_main aniview" data-av-animation="slideInRight">
				<form action="/send" method="POST">
					<div class="col-sm-6"><input type="text" class="form-control" name="name" placeholder="name" value="<%= model.name %>"></div>
					<div class="col-sm-6"><input type="text" class="form-control" name="email" placeholder="email" value="<%= model.email %>"></div>
					<div class="col-sm-6"><input type="text" class="form-control" name="phone" placeholder="phone" value="<%= model.phone %>"></div>
					<div class="col-sm-6"><input type="text" class="form-control" name="city" placeholder="city" value="<%= model.city %>"></div>
					<div class="col-sm-12">
						<textarea name="message" id="message" rows="10" class="form-control" placeholder="message"><%= model.message %></textarea>
					</div>
					<div class="col-sm-12">
						<input type="submit" name="submit" value="Send Message">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

<%- include("footer") %>
