<%- include("header") %>

	<section id="package">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="package_1 clarfix">
						<div class="col-sm-6 package_1_inner">
							<p><span><%= model.length %></span> Holiday Tours</p>
						</div>
						<div class="col-sm-6 package_1_inner_1 text-right">
							<p><span> * </span> This tour package established by Garud Travels. </p>
						</div>
					</div>
					<div class="trip_detail clearfix">

						<ul class="nav nav-tabs tab_trip">
							<li class="active"><a data-toggle="tab" href="#home_1">Tour Package</a></li>
							<li><a href="/create">CREATE A RECORD </a></li>
							
						</ul>
						<% for (const detail of model) {%>
							
						<div class="tab-content clearfix">
							<div id="home_1" class="tab-pane fade in active clearfix">
								<div class="click clearfix">
									<div class="col-sm-3 trip_detail_left_main">
										<div class="trip_detail_main clearfix">
											<div class="trip_detail_image"><a href="/domestic/<%= detail.id %>"><img src="<%= detail.image_two %>"
														width="100%" height="237px"></a></div>
											<div class="trip_detail_text">
												<a href="/domestic/<%= detail.id %>"><i class="fa fa-umbrella"></i> Packages View</a>
											</div>
										</div>
									</div>
									<div class="col-sm-9 trip_detail_right_main_1">
										<div class="trip_detail_right clearfix">
											<div class="col-sm-9 clearfix trip_detail_right_inner">
												<h3><a href="/domestic/<%= detail.id %>"><i class="fa fa-magic"></i><%= detail.title %></a></h3>
												<p><%= detail.place %></p>
												<p><%= detail.trip_validity %></p>
												<div class="trip_menu_1 clearfix">
													<span>Exciting</span>
													<span>Wildlife</span>
													<span>Weekdays</span>
													<span>Past</span>
													<span>People</span>
													<span>Monsoon</span>
													<span>Rough</span>
													<span>Faring</span>
												</div>
												<div class="trip_menu clearfix">
													<span class="deco_1"><i class="fa fa-plane"></i>Travels</span>
													<span class="deco_1"><a href="#"><i
																class="fa fa-hotel"></i>Stays</a></span>
													<span class="deco_1"><a href="#"><i
																class="fa fa-spoon"></i>Foods</a></span>
													<span class="deco_1"><i class="fa fa-car"></i>Touring</span>
													<span class="deco_1"><i
															class="fa fa-eye"></i>Viewsight</span>
												</div>
											</div>
											<div class="col-sm-3 clearfix trip_detail_right_inner_1">
												<p class="text-right"><i class="fa fa-times-circle-o"></i><%= detail.trip_period %></p>

												<li><a href="/edit/<%= detail.id %>">Edit</a></li>
												<li><a href="/delete/<%= detail.id %>">Delete</a></li>
												<!-- <h6 class="text-right"> <i class="fa fa-dollar"></i>3,999</h6>
												<h2 class="text-right"> <i class="fa fa-dollar"></i><%= detail.trip_pass %></h2>
												<h5 class="text-right">Number of trips complete</h5>
												<h4 class="text-right enquiry"><a href="#">view</a></h4> -->
											</div>
										</div>
										<div class="trip_detail_last clearfix">
											<div class="col-sm-8 trip_detail_last_1">
												<span class="span_text"><i class="fa fa-hotel"></i>Packages : <%= detail.package %> </span>
												<span class="span_star">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
													<i class="fa fa-star-o"></i>
												</span>
												<span class="span_tag"><a href="#">Stay Hotel</a></span>
											</div>
											<div class="col-sm-4 text-right trip_detail_last_3">
												<h5><span><i class="fa fa-map-marker"></i>From :</span>
													<select name="month" class="form-control input-lg">
														<option value="01">All</option>
														<option value="02">America</option>
														<option value="03">England</option>
														<option value="03">Australia</option>
													</select></h5>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<%} %>
					</div>
				</div>
			</div>
		</div>
	</section>

	<%- include("footer") %>