<%- include("header") %>

<section id="details">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="details_top clearfix">
					<div class="col-sm-4 details_top_inner text-center">
					</div>
					<div class="col-sm-4 details_top_inner_1 text-center">
						<div class="col-sm-3">
							<p><i class="fa fa-map-marker"></i> From</p>
						</div>
						<div class="col-sm-9">
							<select name="month" class="form-control input-lg">
								<option value="01">India</option>
								<option value="02">America</option>
								<option value="03">Nepal</option>
								<option value="03">England</option>
								<option value="04">Holland</option>
								<option value="05">Thiland</option>
							</select>
						</div>
					</div>
					<div class="col-sm-4 details_top_inner_2 text-center">
						<p><i class="fa fa-hotel"></i> Hotels</p>
						<span class="span_rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i>
						</span>
						<a href="#">Latest World</a>
					</div>
				</div>
				<div class="detail_package clearfix">
					<div class="col-sm-9 detail_package_left">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#term">INFORMATION</a></li>
							<li><a data-toggle="tab" href="#term1">DETAIL</a></li>
							<li><a data-toggle="tab" href="#gallery_1">GALLERY</a></li>
						</ul>

						<div class="tab-content clearfix">
							<div id="term" class="tab-pane fade in active clearfix">
								<div class="click clearfix">
									<div class="col-sm-12 detail_package_left_inner">
										<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
											<!-- Indicators -->
											<ol class="carousel-indicators">
												<li data-target="#carousel-example-generic" data-slide-to="0" class="">
												</li>
												<li data-target="#carousel-example-generic" data-slide-to="1"
													class="active"></li>
												<li data-target="#carousel-example-generic" data-slide-to="2" class="">
												</li>
											</ol>

											<!-- Wrapper for slides -->
											<div class="carousel-inner">
												<div class="item">
													<img src="<%= model.image_one %>" alt="...">
													<div class="carousel-caption">
														<h2><i class="fa fa-umbrella"></i><%= model.title %></h2>
													</div>
												</div>
												<div class="item active">
													<img src="<%= model.image_two %>" alt="...">
													<div class="carousel-caption">
														<h2><i class="fa fa-umbrella"></i><%= model.title %></h2>
													</div>
												</div>
												<div class="item">
													<img src="<%= model.image_three %>" alt="...">
													<div class="carousel-caption">
														<h2><i class="fa fa-umbrella"></i><%= model.title %></h2>
													</div>
												</div>
											</div>

											<!-- Controls -->
											<a class="left carousel-control" href="#carousel-example-generic"
												data-slide="prev">
												<span class="glyphicon glyphicon-chevron-left"></span>
											</a>
											<a class="right carousel-control" href="#carousel-example-generic"
												data-slide="next">
												<span class="glyphicon glyphicon-chevron-right"></span>
											</a>
										</div>
										<div class="duration clearfix">
											<div class="col-sm-4 duration_left">
												<p><i class="fa fa-times-circle-o"></i>Trip Period : <span><%= model.trip_period %></span></p>
											</div>
											<div class="col-sm-4 duration_left">
												<p><i class="fa fa-calendar"></i>Trip Validity <span><%= model.trip_validity %></span></p>
											</div>
											<div class="col-sm-4 duration_left_1 text-center">
												<p>Trip Pass <span><%= model.trip_pass %></span></p>
											</div>
										</div>
										<div class="conclusion clearfix">
											<div class="col-sm-6 conclusion_left">
												<h5>Inclusion</h5>
												
													<%- model.inclusion %>
													
												
											</div>
											<div class="col-sm-6 conclusion_left border_2">
												<h5>Exclusion</h5>
												
													<%- model.exclusion %>
												
											</div>
										</div>
										<div class="blank clearfix"></div>
									</div>
								</div>
							</div>
							<div id="term1" class="tab-pane fade clearfix">
								<div class="click clearfix">
									<div class="col-sm-12 term_1_inner">
										<div class="term_1_inner_top">
											<h4><%= model.place %> <span><i class="fa fa-times-circle"></i><%= model.trip_period %></span></h4>
										</div>
										<div class="term_1_inner_center border_bottom_1">
											<p><%- model.details %></p>
										</div>

									</div>
								</div>
							</div>


							<div id="gallery_1" class="tab-pane fade clearfix gallery_1m">
								<div class="gallery_1i clearfix">
									<div class="col-sm-4">
										<div class="box_inner clearfix">
											<img src="<%=model.gallery_one %>" alt="abc" style="width:100%;">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="box_inner clearfix">
											<img src="<%=model.gallery_two %>" alt="abc" style="width:100%;">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="box_inner clearfix">
											<img src="<%=model.gallery_three %>" alt="abc" style="width:100%;">
										</div>
									</div>
								</div>
								<div class="gallery_1i clearfix">
									<div class="col-sm-4">
										<div class="box_inner clearfix">
											<img src="<%=model.gallery_four %>" alt="abc" style="width:100%;">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="box_inner clearfix">
											<img src="<%=model.gallery_five %>" alt="abc" style="width:100%;">
										</div>
									</div>
									<div class="col-sm-4">
										<div class="box_inner clearfix">
											<img src="<%=model.gallery_six %>" alt="abc" style="width:100%;">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					 
					<div class="col-sm-3 detail_package_right">
						<div class="detail_package_right_top">
							<h4><i class="fa fa-umbrella"></i> <%= model.trip_period %></h4>
							<h5><i class="fa fa-times-circle-o"></i><%= model.trip_validity %></h5>
						</div>
						<div class="detail_package_right_1">
							<div class="book_3 clearfix"><a href="#">Book</a></div>
							<div class="book_4 clearfix"><a href="#"><i class="fa fa-envelope"></i>For Enquiry</a></div>
						</div>
						<div class="detail_package_right_2">
							<p> Tour Types : <%= model.package %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>

<%- include("footer") %>